.App {
    padding: 0.5rem 3rem 2rem 3rem;
}

.header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
    align-self: center;
}

.puzzle {
    margin: 5rem;
    width: 50rem;
    height: 27rem;
    background: rgb(255, 255, 255);
    position: relative;
}

.c1 {
    background: white;
    width: 8rem;
    height: 3rem;
    border-radius: 2.5rem;
    position: absolute;
    left: -47px;
    top: 36px;
}
.c2 {
    background: black;
    width: 8rem;
    height: 3rem;
    border-radius: 2.5rem;
    position: absolute;
    left: -4.438rem;
    top: 5.25rem;
}
.c3 {
    background: white;
    width: 8rem;
    height: 3rem;
    border-radius: 2.5px;
    position: absolute;
    left: -60px;
    top: 8.25rem;
}

.c4 {
    background: rgb(17, 130, 21);
    width: 8rem;
    height: 3rem;
    border-radius: 2.5px;
    position: absolute;
    left: -2.938px;
    top: 2.25px;
}
.c5 {
    background: rgb(183, 11, 11);
    width: 8rem;
    height: 3rem;
    border-radius: 2.5rem;
    position: absolute;
    left: -4.438rem;
    top: 5.25rem;
}
.c6 {
    background: rgb(175, 32, 104);
    width: 8rem;
    height: 3rem;
    border-radius: 2.5rem;
    position: absolute;
    left: -0.234rem;
    top: 8.25rem;
}