.App {
    padding: 0.5rem 3rem 2rem 3rem;
}

.header {
    font-size: 3rem;
    font-weight: 400;
    align-self: center;
}

.puzzle {
    margin: 5rem;
    width: 50rem;
    height: 27rem;
    background: rgb(255, 255, 255);
    position: relative;
}

.c1 {
    background: white;
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -47px;
    top: 36px;
}
.c2 {
    background: black;
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -71px;
    top: 84px;
}
.c3 {
    background: white;
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -60px;
    top: 132px;
}

.c4 {
    background: rgb(17, 130, 21);
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -47px;
    top: 36px;
}
.c5 {
    background: rgb(183, 11, 11);
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -71px;
    top: 84px;
}
.c6 {
    background: rgb(175, 32, 104);
    width: 8rem;
    height: 3rem;
    border-radius: 40px;
    position: absolute;
    left: -60px;
    top: 132px;
}