.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  &-header {
    font-size: 2.5rem;
    font-weight: 500;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 7rem;
    justify-content: center;
    &-card {
      border: 1px solid white;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 3rem;
    opacity: 0.93;
    border: 1.7px solid rgba(200, 137, 230, 0.637);
    border-radius: 5px;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137);
    transition: all 0.4s ease 0s;
    }

    &-card:hover {
      transform: scale(1.05);
      border: 2.2px solid rgba(197, 115, 230, 0.883);
    }
  }

}


  @media (max-width: 767px) {
    .tech-icons {
      margin: 10px !important;
    }
  }
  
