.home {
    &-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        padding-top: 1rem;
    }

    &-content {
        flex: 1;
        margin-bottom: 5rem;

        h2 {
            font-size: 2rem;
            font-weight: 600;
        }

        p {
            width: 80%;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 2rem;
        }

        &-auto {
            height: 5rem;
            font-size: 3rem;
            font-weight: 800;
            background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &-greeting {
            font-size: 1rem;
        }
    }


    &-dev-img {
        width: 27rem;
    }
}

.home-wrapper::after,
.home-wrapper::before {
    content: " ";
    width: 29rem;
    height: 18rem;
    border-radius: 50%;
    background: #c064cc;
    position: absolute;
    z-index: -1;

}

.home-wrapper::after {
    top: -3rem;
    left: -5rem;
    background: #9a43e7;
    filter: blur(220px);
}

.home-wrapper::before {
    bottom: -1rem;
    right: -1rem;
    filter: blur(40px);
}

@media (max-width: 1025px) {
    .home-content h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    .home-content p {
        font-size: 0.9rem;
        line-height: 1.6rem;
    }

    .home-dev-img {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
    }

    .home-dev-img {
        margin: 2rem 0 2rem 0;
    }

    .home-wrapper h2 {
        margin-top: 3rem
    }

    .home-content h2,
    .home-content p {
        width: auto;
        text-align: center;
    }

    .home-wrapper::after,
    .home-wrapper::before {
        content: " ";
        width: 18rem;
        height: 18rem;
    }

    .home-wrapper::after {
        top: 0rem;
        left: 0rem;
    }

    .home-wrapper::before {
        bottom: 2rem;
        right: 0rem;
    }
}