@import url("https://fonts.googleapis.com/css2?family=Pacifico:wght@400;500;600&display=swap");
.nav-wrapper {
    background: rgb(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(50px);
}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 2rem 3rem;
    margin: 0 auto;
}

.logo {
    width: 12rem;
    height: auto;
    font-size: 1.3rem;
    font-family: "Pacifico", sans-serif;
}

.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content li {
    margin: 0 1.5rem;
}

.nav-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    color: #fff;
    cursor: pointer;
}

.nav-item::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.nav-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}