@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: black;
  color: #fff;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color:rgba(200, 137, 230, 0.637);
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

@media (max-width: 390px) {
  .footer-wrapper p {
    font-size: 0.8rem;;
  }
}
