.App {
    padding: 0.5rem 3rem 0rem 3rem;
}

.header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.875rem;
    align-self: center;
}

@media (min-width: 2000px) {
    .App {
        margin-left: 15%;
        margin-right: 15%;
    }
}
@media (max-width: 530px) {
    .App {
        padding: 0;
    }
    .header {
        font-size: 2rem;  
    }
}

